body {
margin: 0;
padding: 0;	
}
.row .newrow, .row [class*=col]:first-of-type {margin-left:0}

.container {
width: 100%;	
  margin-right: auto;
  margin-left: auto;
}
.row {
//border: 1px solid black;
width: 100%;	
margin: 0;

 /*overflow: hidden;*/
}
	.row:after,.row:before {
		display:table;
	
	content:"";
	clear:both
	}
	

[class*="col"] {
border: 1px solid red;	
float: left;
margin:0;
width: 100%;
}

.col {
	 flex: 0 0 auto;
  max-width: auto;
}

@media (min-width: 576px) {
.col-25 {
width: calc(25% - 2px);	
}
.col-50 {
width: calc(50% - 2px);	
}
.col-1_3 {
 width: calc(33.33333333333333% - 2px);	
}
.col-10 {
width: calc(10% - 2px);	
}


@media (min-width: 992px) { 
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1230px) { 
  .container {
    max-width: 1200px;
  }
}

