.row {
//border: 1px solid blue;	
}
[class*="col"]  {
//border: 1px solid green;	
}


body {
	background-color: #ffffff; /*цвет фона */
	/* ----убирание полей  */
	margin: 0; 
	padding: 0;
	/* ----убирание полей  */
	/* используемые шрифты */
	font-family: 'Roboto Condensed',Verdana, Arial, "Times New Roman";
	font-size: 16px;
	font-weight: normal;
	word-wrap: break-word;
	line-height: 1.5em;
}

h1,h2,h3 {
	font-family: 'Roboto Bold Condensed';
    line-height: 1em;
	color: #000;
}
h2 u {
font-family: 'Roboto Bold Condensed';
    line-height: 1em;
	color: #000;	
}
.pod {
	padding-bottom: 15px;
border-bottom: 1px solid black;	

}

h1{ 
   font-size: 24px;	
}

.hh1 {
	font-size: 48px;	
}

h2 {  
    font-size: 24px;
	padding-bottom:20px;
}

h3 {
font-size: 18px;
font-weight: bold;
text-decoration-line: underline;
font-stretch: ultra-condensed;
color: #193e61;	
line-height: 1.2em;
}
p {
font-family: 'Roboto Condensed';
font-size: 16px;
color: #303031;
font-weight: normal;
font-stretch: ultra-condensed;

//text-indent: 20px;
text-align:justify;	
line-height: 22px; 
 
}
li a {
text-decoration: none;	
text-align: center;
}
a {
font-family: 'Roboto Bold Condensed';
font-size: 16px;
color: #2c6091;
padding: 15px 0px 15px 0px;
float: none;
}

form {
    font-family: 'Roboto Bold Condensed';
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    clear: both;
    margin: 5px 5px 0px 0px;
    border: 2px solid #aaaaaa;
    padding: 0px 0px 0px 5px;
	outline: none;  /*  убираются рамки вокруг выделеных в хроме */
	font-family: 'Roboto Bold Condensed';
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
	 font-family: 'Roboto Bold Condensed';
  
 
	
}
.subb {
    // text-align: center;
    display: inline-block;
    width: 160px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
}
textarea {
    height: 180px;
    border: 2px solid #aaaaaa;
    padding: 5px 0px 0px 5px;
    width: 95%;
	font-family: 'Roboto Bold Condensed';
    font-size: 16px;
    color: #333;
}
input:focus, textarea:focus{ 
outline: none;  /*  убираются рамки вокруг выделеных в хроме */
}

strong {
  font-family: 'Roboto Bold Condensed';
    font-size: 30px;
    color: #333;	
	border-left: 3px solid #000;
	padding-left: 30px;
//	padding-top: 20px;
}
q {
font-family: 'Roboto Condensed';
font-size: 24px;
color: #303031;
font-weight: normal;
font-stretch: ultra-condensed;	
}
u {
color: #2c6091;	
}
ol {
    list-style-type: none;
    counter-reset: li;
}
ol li {
	line-height: 45px;	
}
	
ol li:before {
    content: counter(li);
    counter-increment: li 1;
    margin-right: 5px;
    color: white;
    padding: 3px 10px;
    background: #2c6091;
    }

    ul {
      list-style-type: none;
    }
    ul li:before {
      content: " ";
      padding-right: 20px;
   margin-right: 5px;
	  background-image: url("../images/li.png");
    }

.mob-menu ul li:before {
background-image: none;
content: none;
}	

.search {
    border: 1px solid #fff;
    
    height: 28px;
    font-size: 18px;
    margin: 2px 0px 0px 0px;
    
}

.question a{
display: block;
float: left;
}
.useful {
padding: 0;
}

.caps {
background-size: auto auto;
border: 1px solid red;	
background-repeat: no-repeat;
background-image: url("../images/foto_min.png");
}
.ph3 {
text-align: center;	
}
	
@media (min-width: 576px) { /* sm */
.caps {
background-position: center 40%;
background-image: url("../images/foto_576.png");
min-height: 360px;
background-color: #e7eef1;
} 
}

@media (min-width: 768px) { /* md */
.caps {
min-height: 360px;
background-image: url("../images/foto_776.png");
} 
}

@media (min-width: 992px) { /* lg */
.caps {
background-image: url("../images/foto_992.png");
}  
}

@media (min-width: 1200px) { /* xl*/
.caps {
background-image: url("../images/foto_1663.png");
}
}
	
	

.info_text .hh1 {
display: block;
}


.letter2{
display:inline-block; 
}


.info_text .hh3{
	display: block;
}

.mob-menu li {
	border: 1px solid red;
}
/************************Меню с главной страницы**************************************************************/

.mob-menu ul{ 
 margin-top: 0; /*Фиксированной высоты не было – это margin строки*/
 margin-bottom: 0;
}
  
.mob-menu li{           
    display:block;
	padding: 0;
}
.mob-menu a{
	padding-top: 10px;
    display:block;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

			
/************************************************************************************/

.about span {
 //   display: block;
}

.face_obr {
display: none;
}
.foto_face {
width: 100%;	
}


.basement {
border: 1px solid #f7b709;	
}

.bld {
display: block;	
}



.sshh4{
	display: block;
	width: 100%;
}
.my , .bld2 {
white-space: pre-line;	
display: block;
}
.dat_stat {
display: block;	
}





