.row {
border: 1px solid blue;	
}
[class*="col-"]  {
border: 1px solid green;	
}


body {
	background-color: #ffffff; /*цвет фона */
	/* ----убирание полей  */
	margin: 0; 
	padding: 0;
	/* ----убирание полей  */
	/* используемые шрифты */
	font-family: 'Roboto Condensed',Verdana, Arial, "Times New Roman";
	font-size: 16px;
	font-weight: normal;
	/* ---------используемые шрифты */
}



.question a{
display: block;
float: left;
}
.useful {
padding: 0;
}

.caps {
background-size: auto auto;
border: 1px solid red;	
background-repeat: no-repeat;
background-image: url("../images/foto_min.png");
}
	
@media (min-width: 576px) { /* sm */
.caps {
background-position: center 40%;
background-image: url("../images/foto_576.png");
min-height: 360px;
background-color: #e7eef1;
} 
}

@media (min-width: 768px) { /* md */
.caps {
min-height: 360px;
background-image: url("../images/foto_776.png");
} 
}

@media (min-width: 992px) { /* lg */
.caps {
background-image: url("../images/foto_992.png");
}  
}

@media (min-width: 1200px) { /* xl*/
.caps {
background-image: url("../images/foto_1663.png");
}
}
	
	
	
.foto_lica {
max-width: 100%
}

.info_text .hh1 {
display: block;
}


.letter2{
display:inline-block; 
}


.info_text .hh3{
	display: block;
}

.mob-menu li {
	border: 1px solid red;
}
/************************Меню с главной страницы**************************************************************/

.mob-menu ul{ 
 margin-top: 0; /*Фиксированной высоты не было – это margin строки*/
 margin-bottom: 0;
}
  
.mob-menu li{           
    display:block;
	padding: 0;
}
.mob-menu a{
	padding-top: 10px;
    display:block;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

			
/************************************************************************************/

.about span {
    display: block;
}

.face_obr {
display: none;
}
.foto_face {
width: 100%;	
}


.basement {
border: 1px solid #f7b709;	
}

.bld {
display: block;	
}



.sshh4{
	display: block;
	width: 100%;
}
.my , .bld2 {
white-space: pre-line;	
display: block;
}
.dat_stat {
display: block;	
}





